.container {
    height: 40px;
    border-radius: 1rem;
    background-color: #eaeaea;
    overflow: hidden;
}

.progress {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: dodgerblue;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    color: white;
    overflow: hidden;
}