.container {
    padding: 1rem;
}

.btn {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #eaeaea;
}

.bars_container {
    margin-top: 1rem;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 1rem;
}