.container {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 2rem;
}

.add_btn {
    width: 100px;
    padding: 5px 10px;
    outline: none;
    border-radius: 5px;
    border: none;
    background-color: #eaeaea;
    cursor: pointer;
}

.bars_container {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 1rem;
}

.bar {
    background-color: #ccc;
    height: 12px;
    border-radius: 6px;
    overflow: hidden;
}

.bar_fill {
    background-color: green;
    height: 100%;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 2000ms linear;
}


.bar_fill_complete  {
    transform: scaleX(1);
}
